body, html {
    height: 100%;
    margin: 0;
}

.login-container {
    font-family: Arial, sans-serif;
    background-color: #71244B; /* Un tono morado más definido */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-form {
    width: 100%;
    max-width: 320px; /* Ajuste para que no sea tan largo */
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparente para contrastar con el fondo */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
}

.title-container {
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    font-family: sans-serif;
    color: #fff;
}

.title-image {
    background-image: url('../assets/letras.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 20px;
    color: #ff99cc;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 40px);
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}

.forgot-password {
    margin-bottom: 20px;
}

.forgot-password a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.btn {
    background-color: #ff99cc;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
